.select {
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 99px;
	line-height: 16px;
	font-weight: 700;
	display: flex;
	gap: 6px;
	padding: 12px 24px;
	cursor: pointer;
	transition: all .2s;
}

.select:hover {
	border-color: #4136F1;
}