.wrap,
.red {
	display: flex;
	align-items: center;
}

.wrap {
	background: #1D2228;
	box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.05);
	border-radius: 16px;
	max-width: 294px;
	padding: 20px;
	gap: 16px;
	margin: 0 0 24px;
}

.image {
	width: 79px;
	height: 79px;
	border-radius: 100%;
	display: block;
}

.text {
	font-weight: 500;
	font-size: 16px;
	line-height: 19px;
	color: rgba(255, 255, 255, 0.5);
	margin: 0 0 3px;
}

.text.red {
	color: #FF5E54;
	display: flex;
	align-items: center;
	gap: 6px;
	margin: 2px 0 0;
	cursor: pointer;
	transition: all .2s;
}

.red:hover {
	text-shadow: 0 0 2px #FF5E54;
}