.hero{
	padding: 96px 0 0;
	display: flex;
	align-items: flex-end;
	margin: 0 0 69px;
}

.infoBlock {
	width: 100%;
	max-width: 516px;
	padding: 0 0 39px 0;
	margin: 0 16px 0 0;
	flex-shrink: 0;
}


.sliderBlock {
	width: 60%;
	overflow: hidden;
}

.sliderPic {
	width: 100%;
	display: block;
}