.btn,
.unBtn {
	border-radius: 12px;
	font-weight: 700;
	line-height: 16px;
	padding: 12px 33px;
	transition: all .2s;
}

.btn {
	background: linear-gradient(270deg, #8743FF 0%, #4136F1 100%);
	box-shadow: 0px 15px 30px rgba(20, 102, 204, 0.16);
	color: #fff;
	outline: 2px solid transparent;
}

.unBtn {
	background: transparent;
	background-image: linear-gradient(90deg, #30363D, #30363D),
	linear-gradient(270deg, #8743FF 0%, #D8C2FF 100%);
	background-clip: padding-box, border-box;
	background-origin: border-box;
	border: 1px solid transparent;
}

.unBtn span {
	background: linear-gradient(270deg, #8743FF 0%, #D8C2FF 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
}

.unBtn:hover {
	box-shadow: 0 0 5px #8743FF;
}

.btn:hover {
	outline: 2px solid #8743FF;
	text-shadow: 0 0 1px #fff;
}

